*{
    padding: 0;
    margin: 0;
    color: #14a53b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
.center{
    margin: 0 auto;
}
.icon{
    width: 25px;
    height: auto;
    padding-right: 13px;
}
.textCenter{
    text-align: center;
}
h1{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}
h2{
    font-size: 25px;
    display: inline;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.search{
    width: 100%;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus{
    border: solid 1px #5ec74d;
}
.el-input__inner{
    border-radius: 5px 0 0 5px;
    border: solid 1px #5ec74d;
    height: 54px;
    font-size: 23px;
}
/* 抽屉颜色 */
.el-drawer__body{
    background-color: #d4f9c5 !important;
  }
  .el-drawer__header{
    background-color: #d4f9c5 !important;
  
  }
  .el-drawer__open .el-drawer.ltr{
      background-color: #d4f9c5;
  }
  .el-icon-close:before{
      font-size: 35px;
  }
  .el-menu-item.is-active{
      color: #5ec74d;
  }
  /* 导航栏点击样式 */
  .el-menu-item.is-active {
      background-color: #a6eaa9;
  }
  .el-menu-item:hover,.el-menu-item:focus{
    background-color: #a6eaa9;
  }
  /* 标签页样式 */
  .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
    color: #14a53b;
    font-weight: bold;
  }
  .el-tabs--border-card>.el-tabs__header .el-tabs__item{
      color: #5ec74d;
  }
  .el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover{
      color: #14a53b;
  }
  /* li前面的原点 */
  .yuan{
    width: 3px;
    height: 3px;
    padding: 0 3px;
    background-color: #2ca41e;
    border-radius: 50%;
  }
  /* 做题按钮 */
  .el-radio__input.is-checked+.el-radio__label{
    color: #2ca41e;
  }
  .el-radio__input.is-checked .el-radio__inner{
    background: #2ca41e;
    border-color:#2ca41e;
  }
  .el-radio__label{
      font-size: 25px;
      padding-left: 20px;
      height: 30px;
      line-height: 30px;
  }
  .el-radio__inner::after{
    height: 8px;
    width: 8px;
    left: 48%;
  }
  .el-radio__inner{
    width: 20px;
    height: 20px;
  }
  .el-radio__inner:hover{
      border: 0;
  }
